<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<hr>
<footer style="height: 200px;" class="text-center">
    <div class="row text-center  ">
        <div class="col-sm-4">
          <h3>MakeMyTrip</h3>
          <p class="text-md-left" style="padding-left:50px">MakeMyTrip Limited is an Indian online travel company founded in 2000. 
            Headquartered in Bangalore, Karnataka.
            The company provides online travel services for flight tickets.</p>
        </div>
        <div class="col-sm-4">
            <h3>Contact</h3>
          <p>
              <span class="glyphicon glyphicon-home"></span> MakeMyTrip</p>
          <p>
              <span class="glyphicon glyphicon-envelope"></span> info@gmail.com</p>
          <p>
              <span class="glyphicon glyphicon-phone"></span> + 01 234 567 88</p>
          <p>
              <span class="glyphicon glyphicon-print"></span> + 01 234 567 89</p>
        </div>
        <div class="col-sm-4">
            <h3>Follow Us</h3>
            <p><i class="fa fa-facebook-official w3-hover-opacity"></i></p>
            <p> <i class="fa fa-instagram w3-hover-opacity"></i></p>
            <p> <i class="fa fa-twitter w3-hover-opacity"></i></p>
            <p> <i class="fa fa-linkedin w3-hover-opacity"></i></p>
        </div>
      </div>
<hr>
      <div>
          <p >© 2019 Copyright:
            <a routerLink=''>
              <strong> makemytrip.com</strong>
            </a>
          </p>
        </div>
</footer>