

 <!-- <div>
   <img  class="d-block w-100" src="assets/img/a3.jpg" alt="First slide" height="500">
 </div> -->

  <carousel>
    <slide>
      <img class="d-block w-100" src="assets/img/f4.jpg" alt="first slide"  height="500">
    </slide>
    <slide>
      <img  class="d-block w-100" src="assets/img/12.jpg" alt="second slide"  height="500">
    </slide>
    <slide>
      <img  class="d-block w-100" src="assets/img/22.jpg" alt="third slide"  height="500">
    </slide>
  </carousel> 

 <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <h2 class="style"> Discover Hot Deals</h2>
    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
 
    
      <div class="carousel-item active">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/img/12.jpg" alt="Card image cap">
              <div class="top-left">Hyderabad Flights</div>
            <div class="card-body">
              <h4 class="card-title">Hyderabad-Delhi</h4>
              <p class="card-text">Weekend breaks| Affordable Prices</p>
              <div class="a1">
               CUPON-CODE:ASB123  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $1350  
               <!-- <a href="" data-toggle="dropdown">View-more</a> -->&nbsp;&nbsp;
               <button class="btn btn-success" routerLink='/list-flight'>Book-Now</button>
            </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/img/14.jpg"
              alt="Card image cap">
              <div class="top-left">Bangalore Flights</div>
            <div class="card-body">
              <h4 class="card-title">Bangalore-Kolkata</h4>
              <p class="card-text">Weekend breaks| Affordable Prices</p>
              <div class="a1">
                CUPON-CODE:AYZ789  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $2500    
                <!-- <a href="" data-toggle="dropdown">View-more</a> -->&nbsp;&nbsp;
                <button type="Book-Now" class="btn btn-success" routerLink='/list-flight'>Book-Now</button>
             </div>

            </div>
          </div>
        </div>
  
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card mb-2">
            <img class="card-img-top" src="assets/img/16.jpg"
              alt="Card image cap">
              <div class="top-left">Mumbai Flights</div>
            <div class="card-body">
              <h4 class="card-title">Mumbai-Chennai</h4>
              <p class="card-text">Weekend breaks| Affordable Prices</p>
              
              <div class="a1">
                CUPON-CODE:PSB256  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $1950    
                <!-- <a href="" data-toggle="dropdown">View-more</a> -->&nbsp;&nbsp;
                <button type="Book-Now" class="btn btn-success" routerLink='/list-flight'>Book-Now</button>
             </div>

            </div>
          </div>
        </div>
  
      </div>
    

     </div> 
    <!--/.Slides-->
  
   </div>
  <!--/.Carousel Wrapper-->