<app-nav></app-nav>

<div class="c">
    <img  class="d-block w-50" src="" alt="" height="300">
    <p class="d">All About Travel</p><br>
     <p class="e"> “One’s destination is never a place, but a new way of seeing things.”</p>
     <p class="f"><button type="button" class="btn btn-info"><a href="#">Read-More</a></button></p>
</div>

	<div class=" text-center">
    <div class="a"> About Us</div>
   
		<p class="b"> Nurtured from the seed of a single great idea - to empower the traveller - MakeMyTrip is a pioneer in India’s online travel industry. Founded in the year 2000 by Deep Kalra, MakeMyTrip came to life to empower the Indian traveller with instant bookings and comprehensive choices. The company initiated its journey serving the US-India travel market offering a range of best-value products and services powered by technology and round-the-clock customer support.</p>
    
        
  </div>
  
 <div class="z">
    <img  class="d-block" src="assets/img/31.png" alt="First slide" height="150" width="100%">
 </div>
 
 <div class="ser">
    <img  class="d-block w-25" src="" alt="" height="300">
    <div class="sir">Our Clients</div><br>
    <div class="sam"> Thank You for Choosing us!</div>
     <div class="ser-row ser-padding l"> 
      <img class="w-20 u" src="assets/img/air1.jpg" alt="first slide"  height="100">
     <img class=" w-20 u" src="assets/img/air4.jpg" alt="first slide"  height="100">
     <img class=" w-10 u" src="assets/img/air2.png" alt="first slide"  height="100">
     <img class=" w-20 u" src="assets/img/air3.png" alt="first slide"  height="100">
     <img class=" w-15 u" src="assets/img/air5.png" alt="first slide"  height="100">
    </div> 
  </div> 
 
 




  <carousel>
      <slide>
         <div class="sid"> 
        <img class="d-block  w3-3 circle" src="assets/img/35.jpg" alt="first slide"  width="500%" height="400%" > </div> 
         <p class="ram"> Feeling Excited. I am very pleased with the quality of the</p>
           <p class="ram">benefits offering from your website love travelling.</p>
     
      </slide>
      <slide>
           <div class="run">
        <img  class="d-block w3-4 circle " src="assets/img/36.jpg" alt="second slide"   width="500%" height="400%"></div> 
         <p class="ram"> All issues are resolved promptly. In communication, the employees are pleasant,</p>
         <p class="ram">  helpful. Always offer reasonable prices, which is user friendly.</p>
        
      </slide>
      <slide>
          <div class="jump">
        <img  class="d-block  w3-5 circle" src="assets/img/37.png" alt="third slide"   width="500%" height="400%"> </div> 
         <p class="ram"> Excellent!. It always satisfies me.I was in India at the beginning of July, and I did a 
           </p>
            <p class="ram"> tour in India with my driver Manu Jolli.
                My tour was fantastic because of him and his company.</p>
       
        
      </slide>
    </carousel> 



     

 <!-- <div class=" w3-padding-64" id="contact">
    <div class="y">Contact</div><br>
    <p class="x">We offer full-service. We understand your needs and we will provide extrodinary offers.
         Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large x"><b>Make My MakeMyTrip, 9th block, Jayanagar, Bangalore, India</b></p>
    <p class="x">You can also contact us by Phone:00553123-2323 or Email: MakeMyTrip@gmail.com, or you can send us a message here:</p>
    </div> -->

    <app-footer></app-footer>