.error{
  color: #FF0000;
}
.login-container {
  display: flex;
  flex-direction: column;
  background-color:white;
<<<<<<< HEAD
  margin: 15px 20px 12px 20px;
  z-index: 1;
  /* box-shadow:15px 15px 25px #f1f1f1; */
=======
  margin: 2em auto auto;
  z-index: 1;
  box-shadow:15px 15px 25px #f1f1f1;
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
}

button{
  margin-right: 10px;
<<<<<<< HEAD
  width: 20%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: 10%; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* % from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  height:70%;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
/* The Close Button (x) */
.close {
position: absolute;
margin: 24px 0 12px 0;
right: 20px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}
=======
}
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
