
<div id="signup" class="row">
    
    <div class="col-md-4 login-container">
      <h2 style="margin: auto;padding: 20px">Sign up to MakeMyTrip </h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <input placeholder="UserName" type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
          <div class="error" *ngIf="signupForm.controls['username'].hasError('required') && signupForm.controls['username'].touched">Username is required</div>
        </div>

        <div class="form-group">
            <input placeholder="Email" type="email" class="form-control" formControlName="email" id="email" autocomplete="off">
            <div class="error" *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched">Email is required</div>
          </div>

        
        <div class="form-group">
          <input placeholder="Password" type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
          <div class="error" *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched">Password is required</div>
        </div>

        <div class="form-group">
            <input placeholder="Confirm Password" type="password" class="form-control" formControlName="confirmpassword" id="confirmpwd" autocomplete="off">
            <div class="error" *ngIf="signupForm.controls['confirmpassword'].hasError('required') && signupForm.controls['confirmpassword'].touched">Confirm password is required</div>
           <!--  <div *ngIf="pwdForm.errors?.doesMatchPassword" class="error">
               Password doesn't match
              </div> -->
          </div>
        
        
        <button class="btn btn-success" [disabled]="signupForm.invalid">Sign Up</button>
        <button class="btn btn-success" routerLink=''>Cancel</button>
        <div *ngIf="invalidSignup" class="error">
          <div>Invalid credentials.</div>
        </div>
      </form>
    </div>
  </div>
  