<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

 
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/img/20.jpg"
            alt="Card image cap">
            <div class="top-left"><h3>Hyderabad Flights</h3></div>
          <div class="card-body">
            <h4 class="card-title">Bangalore-Hydrebad</h4>
            <p class="card-text">Air Asia</p>
            <p> Rs.2500/-</p>
            <a class="btn btn-primary" routerLink='/list-flight'>Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/img/f2.jpg"
            alt="Card image cap">
            <div class="top-left"><h3>Bangalore Flights</h3></div>
          <div class="card-body">
            <h4 class="card-title">Bangalore-Delhi</h4>
            <p class="card-text">Deccan Airways</p>
            <p>Rs.3000/-</p>
            <a class="btn btn-primary" routerLink='/list-flight'>Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/img/f3.jpg"
            alt="Card image cap">
            <div class="top-left"><h3>Mumbai Flights</h3></div>
          <div class="card-body">
            <h4 class="card-title">Mumbai-Chennai</h4>
            <p class="card-text">Spicejet</p>
            <p>Rs.4000/-</p>
            <a class="btn btn-primary" routerLink='/list-flight'>Book</a>
          </div>
        </div>
      </div>
       
      &nbsp;
      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/img/f4.jpg"
            alt="Card image cap">
            <div class="top-left"><h3>Chennai Flights</h3></div>
          <div class="card-body">
            <h4 class="card-title">Chennai-Kolkatta</h4>
            <p class="card-text">Air India</p>
            <p>Rs.4000/-</p>
            <a class="btn btn-primary" routerLink='/list-flight'>Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/img/f5.jpg"
            alt="Card image cap">
            <div class="top-left"><h3>Delhi Flights</h3></div>
          <div class="card-body">
            <h4 class="card-title">Delhi-Mumbai</h4>
            <p class="card-text">Jet Airways</p>
            <p>Rs.4500/-</p>
            <a class="btn btn-primary" routerLink='/list-flight'>Book</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <img class="card-img-top" src="assets/img/f6.jpg"
            alt="Card image cap">
            <div class="top-left"><h3>Ahmedabad Flights</h3></div>
          <div class="card-body">
            <h4 class="card-title">Ahmedabad-Bangalore</h4>
            <p class="card-text">Emirates</p>
            <p>Rs.3500/-</p>
            <a class="btn btn-primary" routerLink='/list-flight'>Book</a>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

  </div>
  <!--/.Slides-->

</div>