* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color:#00264d;
<<<<<<< HEAD
  padding:50px;
=======
  padding:30px;
  color: white;
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  float: left;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 15px;
  font-size: 17px;
  border: none;
<<<<<<< HEAD
=======
  
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container {
  float: left;
  padding: 6px;
  margin-top: 15px;
  margin-right: 16px;
  background: rgb(63, 36, 36);
  font-size: 17px;
  border: none;
  cursor: pointer;
  align-self: center;
}

.topnav .login-container {
  background:#00264d;
<<<<<<< HEAD
=======
  padding-left: 300px;
  padding-top: 20px;
  padding-bottom: 5px;
 
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
<<<<<<< HEAD
    border: 1px solid #ccc; 
=======
    border: 1px solid #ccc;
    
  
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
  }
}

.button {
<<<<<<< HEAD
  border-radius: 4px;
=======
  border-radius: 6px;
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
<<<<<<< HEAD
  padding: 6px;
  width: 150px;
=======
  padding: 5px;
  width: 130px;
>>>>>>> b0a8345d77c6920c79d70e7e5931026a7c037528
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
