<app-nav></app-nav>
 <div class="topnav">
    <div class="login-container">
  <!--  <form [formGroup]="searchFlightForm" (ngSubmit)="onSubmit()" >  -->
      
         
      <input type="text" placeholder="From"  formControlName="From">
      
     &nbsp;
    
    
      <input type="text" placeholder="To" formControlName="To">
  
     &nbsp;
    
     
      <input type="text" placeholder="Departure Date " formControlName="date">
  
      <button class="button" routerLink='/list-flight'><span>Search</span></button>
      </div>
<!-- </form>  -->

</div>
 
&nbsp;
<app-flight-section></app-flight-section>
<!-- <app-flight-detail></app-flight-detail> -->
<app-footer></app-footer>