<!-- <app-nav></app-nav> -->
 <div class="topnav">
    <div class="login-container">
  <form [formGroup]="searchFlightForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
      <input type="text" placeholder="Source"  formControlName="source"/>
     &nbsp;
      <input type="text" placeholder="Destination" formControlName="destination"/>
      <!-- <button class="btn btn-success"><span>Search </span></button> -->
      </div>
</form>
<button class="button" routerLink='/flight-details'><span>Search</span></button>
</div>
</div> 
&nbsp;
<app-flight-section></app-flight-section>
<!-- <app-flight-detail></app-flight-detail> -->
<!-- <app-footer></app-footer> -->